<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main_layout}">
  <div layout:fragment="content">
    <h1>Read</h1>
    <form action="" method="post">
      <div class="mb-3">
        <label for="id" class="form-label">번호</label>
        <input type="text" class="form-control" id="id" th:value="${dto.id}" name="id" readonly />
      </div>
      <div class="mb-3">
        <label for="text" class="form-label">내용</label>
        <textarea class="form-control" id="text" rows="3" name="text" readonly>
        [[${dto.text}]]
        </textarea>
      </div>
      <!--웹에서 기본은 get 특히 a태그는 더더욱. post를 넣었을 때만 post인 것이다.-->
      <a type="button" class="btn btn-outline-success" th:href="@{/memo/list}">목록</a>
      <a type="button" class="btn btn-outline-primary" th:href="@{/memo/modify(id=${dto.id})}"
        >수정</a
      >
    </form>
  </div>
</html>
