<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <th:block layout:fragment="title">
    <!--페이지별 개별 title 태그 작성-->
    <title>레이아웃</title>
  </th:block>
  <div layout:fragment="content">
    <div>
      <nav>
        <ul>
          <li>list</li>
          <li>list</li>
          <li>list</li>
          <li>list</li>
          <li>list</li>
        </ul>
      </nav>
    </div>
  </div>
  <th:block layout:fragment="" script>
    <!--페이지별 개별 javascript 작성-->
  </th:block>
</html>
