<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">게시글 등록</h5>
        <div class="card">
          <div class="card-body">
            <form action="" method="post" th:object="${boardDTO}">
              <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  aria-describedby="title"
                  name="title"
                  th:value="${boardDTO.title}"
                />
                <div
                  class="text-danger"
                  th:if="${#fields.hasErrors('title')}"
                  th:errors="*{title}"
                ></div>
              </div>
              <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="content"
                  name="content"
                  rows="3"
                  th:value="${boardDTO.content}"
                >
                [[${boardDTO.content}]]
                </textarea>
                <div
                  class="text-danger"
                  th:if="${#fields.hasErrors('content')}"
                  th:errors="*{content}"
                ></div>
              </div>
              <div class="mb-3">
                <label for="writerName" class="form-label">작성자</label>
                <input
                  type="text"
                  class="form-control"
                  id="writerName"
                  aria-describedby="writerName"
                  name="writerName"
                  th:value="${boardDTO.writerName}"
                />
              </div>
              <div class="mb-3">
                <input
                  type="hidden"
                  class="form-control"
                  id="writerEmail"
                  aria-describedby="writerEmail"
                  name="writerEmail"
                  value="user1@gmail.com"
                />
              </div>
              <button type="submit" class="btn btn-primary">등록</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
