<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">도서 수정</h5>
        <div class="card">
          <div class="card-body">
            <form action="" method="post" th:action="@{/board/modify}">
              <div class="mb-3">
                <label for="bno" class="form-label">BNO</label>
                <input
                  type="text"
                  class="form-control"
                  id="bno"
                  aria-describedby="bno"
                  name="bno"
                  th:value="${dto.bno}"
                  readonly
                />
              </div>
              <div class="mb-3">
                <label for="title" class="form-label">TITLE</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                  th:value="${dto.title}"
                />
              </div>
              <div class="mb-3">
                <label for="content" class="form-label">CONTENT</label>
                <textarea name="content" id="content" rows="10" class="form-control">
[[${dto.content}]]</textarea
                >
              </div>
              <div class="mb-3">
                <label for="createDate" class="form-label">CREATEADTE</label>
                <input
                  type="type"
                  class="form-control"
                  id="createDateTime2"
                  name="createDateTime2"
                  th:value="${#temporals.format(dto.createDateTime2, 'yyyy-MM-dd HH:mm')}"
                  disabled
                />
              </div>
              <a
                type="button"
                class="btn btn-primary"
                th:href="@{/board/list(page=${pageRequestDTO.page}, size=${pageRequestDTO.size})}"
                >목록</a
              >
              <input type="hidden" name="writerEmail" th:value="${dto.writerEmail}" />
              <!--modify 에서는 포함하지 않아도 되나, remove에서는 필요로 함, 위의 email값도 콘트롤러에서 받아주기 위해 필요함-->
              <input type="hidden" name="size" th:value="${pageRequestDTO.size}" />
              <input type="hidden" name="page" th:value="${pageRequestDTO.page}" />
              <button
                type="submit"
                class="btn btn-success"
                th:if="${dto.writerEmail} == ${#authentication.name}"
              >
                수정
              </button>
              <button
                type="button"
                class="btn btn-danger"
                th:if="${dto.writerEmail} == ${#authentication.name}"
              >
                삭제
              </button>
              <!-- <input type="hidden" name="page" th:value="${pageRequestDTO.page}" /> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <th:block layout:fragment="script">
    <script th:src="@{/js/modify.js}"></script>
  </th:block>
</html>
