<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">도서 수정</h5>
        <div class="card">
          <div class="card-body">
            <form action="" method="post">
              <div class="mb-3">
                <label for="isbn" class="form-label">ISBN</label>
                <input
                  type="text"
                  class="form-control"
                  id="isbn"
                  aria-describedby="isbn"
                  name="isbn"
                  th:value="${dto.isbn}"
                  readonly
                />
              </div>
              <div class="mb-3">
                <label for="title" class="form-label">TITLE</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                  th:value="${dto.title}"
                  readonly
                />
              </div>
              <div class="mb-3">
                <label for="author" class="form-label">AUTHOR</label>
                <input
                  type="text"
                  class="form-control"
                  id="author"
                  name="author"
                  th:value="${dto.author}"
                  readonly
                />
              </div>
              <div class="mb-3">
                <label for="price" class="form-label">PRICE</label>
                <input
                  type="number"
                  class="form-control"
                  id="price"
                  name="price"
                  th:value="${dto.price}"
                />
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">DESCRIPTION</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="description"
                  name="description"
                  rows="3"
                  th:value="${dto.description}"
                >
                [[${dto.description}]]
                </textarea>
              </div>
              <input type="hidden" name="id" th:value="${dto.id}" />
              <input type="hidden" name="page" th:value="${pageRequestDTO.page}" />
              <!--modify 에서는 포함하지 않아도 되나, remove에서는 필요로 함-->
              <input type="hidden" name="size" th:value="${pageRequestDTO.size}" />
              <button type="submit" class="btn btn-primary">수정</button>
              <button type="button" class="btn btn-danger">삭제</button>
              <a
                type="button"
                class="btn btn-success"
                th:href="@{/book/list(page=${pageRequestDTO.page}, size=${pageRequestDTO.size})}"
                >목록</a
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <th:block layout:fragment="script">
    <script th:src="@{/js/modify.js}"></script>
  </th:block>
</html>
