<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">게시글 조회</h5>
        <div class="card">
          <div class="card-body">
            <form action="" method="post">
              <div class="mb-3">
                <label for="bno" class="form-label">BNO</label>
                <input
                  type="text"
                  class="form-control"
                  id="bno"
                  aria-describedby="bno"
                  name="bno"
                  th:value="${dto.bno}"
                  readonly
                />
              </div>
              <div class="mb-3">
                <label for="title" class="form-label">TITLE</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                  th:value="${dto.title}"
                  readonly
                />
              </div>
              <div class="mb-3">
                <label for="content" class="form-label">CONTENT</label>
                <textarea name="content" id="content" rows="10" class="form-control">
[[${dto.content}]]</textarea
                >
              </div>
              <div class="mb-3">
                <label for="createDate" class="form-label">CREATEADTE</label>
                <input
                  type="text"
                  class="form-control"
                  id="createDateTime2"
                  name="createDateTime2"
                  th:value="${#temporals.format(dto.createDateTime2, 'yyyy-MM-dd HH:mm')}"
                  readonly
                />
              </div>
              <a
                type="button"
                class="btn btn-primary"
                th:href="@{/board/list(page=${pageRequestDTO.page}, size=${pageRequestDTO.size})}"
                >목록</a
              >
              <a
                type="button"
                class="btn btn-success"
                th:href="@{/board/modify(bno=${dto.bno},page=${pageRequestDTO.page}, size=${pageRequestDTO.size})}"
                >수정</a
              >
              <!-- <input type="hidden" name="page" th:value="${pageRequestDTO.page}" /> -->
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <form action="" method="post" id="replyForm">
          <input type="hidden" name="rno" />
          <div class="mb-3">
            <input
              type="text"
              name="replyer"
              id="replyer"
              class="form-control"
              placeholder="작성자"
            />
          </div>
          <div class="mb-3">
            <textarea
              name="text"
              id="text"
              rows="3"
              class="form-control"
              placeholder="댓글 작성"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary" name="rbtn">댓글작성</button>
        </form>
        <h5 class="card-title fw-semibold my-4">
          <span class="cnt"> [[${dto.replyCnt}]] 개의 댓글</span>
        </h5>
        <div class="replyList border px-2">
          <!-- <div class="d-flex justify-content-between my-2 border-bottom">
            <div class="p-3">
              <img
                th:src="@{/img/user.png}"
                alt=""
                class="rounded-circle mx-auto d-block"
                style="width: 60px; height: 60px"
              />
            </div>
            <div class="flex-grow-1 align-self-center">
              <div>작성자</div>
              <div>
                <span class="fs-5">내용</span>
              </div>
              <div class="text-muted">
                <span class="small">댓글작성일</span>
              </div>
            </div>
            <div class="d-flex flex-column align-self-center">
              <div class="mb-2">
              <button class="btn btn-outline-danger btn-sm">삭제</button>
              </div>
              <div class="mb-2">
                <button class="btn btn-outline-success btn-sm">수정</button>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <th:block layout:fragment="script">
    <!--리다이렉트 시 메세지 보내기-->
    <script th:inline="javascript">
      let msg = [[${msg}]];
      let bno = [[${dto.bno}]]
      console.log(msg);
      if (msg) {
        Swal.fire({
          title:  msg,
          icon: "success",
          draggable: true,
        });
      }
    </script>
    <script th:src="@{/js/read.js}"></script>
  </th:block>
</html>
