<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <li><a href="/home">HOME</a></li>
      <li><a href="/add">ADD</a></li>
      <li><a href="/calc">CALC</a></li>
      <li><a href="/info">info</a></li>
      <li><a href="/board/add">Board ADD</a></li>
      <li><a href="/board/modify">Board Modify</a></li>
      <li><a href="/board/read?no=1">Board Read</a></li>
      <li><a href="/member/login">Member Login</a></li>
    </ul>
  </body>
</html>
